@import "@orderly.network/ui/dist/styles.css";
@import "../styles/theme.css";
@import "../styles/fonts.css";
@import "./drinkcode.css";
@import "./global.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
