:root {
  --oui-font-family: 'IBM Plex Sans', sans-serif;

  /* colors */
  --oui-color-primary: 255 186 0;
  --oui-color-primary-light: 255 204 51;
  --oui-color-primary-darken: 204 149 0;
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 255 186 0;
  --oui-color-link-light: 255 204 51;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 136 141 153;
  --oui-color-quaternary: 94 99 108;

  --oui-color-danger: 234 57 67;
  --oui-color-danger-light: 255 102 102;
  --oui-color-danger-darken: 200 50 60;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 22 163 74;
  --oui-color-success-light: 72 187 120;
  --oui-color-success-darken: 20 140 60;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 159 67;
  --oui-color-warning-light: 255 183 111;
  --oui-color-warning-darken: 230 130 50;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 24 26 32;
  --oui-color-fill-active: 34 36 44;

  --oui-color-base-1: 44 48 58;
  --oui-color-base-2: 38 41 50;
  --oui-color-base-3: 32 34 42;
  --oui-color-base-4: 28 30 38;
  --oui-color-base-5: 24 26 32;
  --oui-color-base-6: 20 22 28;
  --oui-color-base-7: 16 18 24;
  --oui-color-base-8: 12 14 20;
  --oui-color-base-9: 8 10 16;
  --oui-color-base-10: 4 6 12;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 44 48 58;

  --oui-color-trading-loss: 234 57 67;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 22 163 74;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 204 149 0;
  --oui-gradient-primary-end: 255 204 51;`

  --oui-gradient-secondary-start: 44 48 58;
  --oui-gradient-secondary-end: 24 26 32;

  --oui-gradient-success-start: 20 140 60;
  --oui-gradient-success-end: 22 163 74;

  --oui-gradient-danger-start: 200 50 60;
  --oui-gradient-danger-end: 234 57 67;

  --oui-gradient-brand-start: 255 186 0;
  --oui-gradient-brand-end: 255 159 67;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 230 130 50;
  --oui-gradient-warning-end: 255 159 67;

  --oui-gradient-neutral-start: 24 26 32;
  --oui-gradient-neutral-end: 34 36 44;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}